body {
  background-color: #c4a27c;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
  background-color: #4f2c16;
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 5vw;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: #4f2c16;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}

.nav-item {
  margin: 20px;
  font-size: 1.2rem;
  color: rgb(255, 246, 234);
}

.navbar-nav {
  flex-direction: row;
}

nav ul li a {
  color: #fff5e9;
}

.home {
  background-color: #c4a27c;
}

.main-home {
  /* Adjust for navbar height */
  padding-top: 5vw;
}

.home-card {
  padding-top: 16vw;
  padding-left: 4vw;
}
.home{
  border: none;
   min-width: 50vw;
    min-height: 98vh;
}

.btn {
  background-color: #3E362E;
  border-color: #3E362E;
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-width: 200px;
}

.btn:hover {
  background-color: #c4a27c;
  border-color: #3E362E;
  color: #3E362E;
  font-weight: bolder;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3E362E 8;
  --bs-btn-border-color: #3E362E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3E362E;
  --bs-btn-hover-border-color: #3E362E;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3E362E;
  --bs-btn-active-border-color: #3E362E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3E362E;
  --bs-btn-disabled-border-color: #3E362E;
}

.home-text {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3E362E;
}

.home-heading {
  font-size: 4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.book-card {
  background: #f5e1bc9e;
}

.multiple-cards:hover {
  background-color: #f5e1bcd5;
}

.book-img {
  height: 90vh;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  margin: 1vw;
}

.multiple-cards {
  margin: 0.5rem;
  margin-bottom: 2.1rem;
  width: 17rem;
   height: 38rem;
}
.card-img-top{
  height: 22rem;
  padding: 0.5rem
}

.footer {
  background-color: #3E362E;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.footer-content nav ul {
  list-style: none;
  padding: 0;
}

.footer-content nav ul li {
  display: inline;
  margin: 0 10px;
}

.footer-content nav ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-content nav ul li a:hover {
  text-decoration: underline;
}

@media (max-width:1200px){
  .multiple-cards{
    width:15rem;
  }
  .home-heading{
    font-size: 3.2rem;
  }
}

@media (max-width: 991px) {
  .navbar {
      height: auto;
      flex-wrap: wrap;
      padding: 0 1vw;
  }

  .nav-item {
      font-size: 1rem;
      margin: 10px 0;
  }

  .navbar-nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  button .btn-primary {
      width: 200px;
      margin-top: 10px;
  }
  .home-heading{
    font-size: 2.5rem;

  }
  .home .card-text{
    font-size: 1.2rem;
  }
  .home .home-card{
    padding-top: 14vw;
  }
}

@media (max-width: 576px) {
  .navbar {
      padding: 0 1vw;
  }

  .nav-item {
      font-size: 0.9rem;
      margin: 5px 0;
  }

  .btn-primary {
      font-size: 0.9rem;
  }

  .home-heading {
      font-size: 1.8rem;
  }
  .home .home-card{
    padding-top: 8vw;
  }
}

@media (max-width: 400px) {
  .navbar {
      padding: 0 0.5vw;
  }

  .nav-item {
      font-size: 0.8rem;
      margin: 3px 0;
  }

  .btn-primary {
      font-size: 0.8rem;
      width:100%;
  }

  .home-heading {
    
      font-size: 2.5rem;
      text-align:center;
  }
  .home .card-text{
    font-size:1.5rem;
    text-align:center;

  }
  .home{
    width:100vw;
  }
  .home-img{
  visibility:hidden;
   
  }
  .content-box{
    width:100vw;
    height:60vh;
  }
  .multiple-cards{
    width:8.5rem;
    height:12.6rem;
  }
.card-img-top{
  width:6rem;
  height:9rem;
  padding-left:1.25rem;
}
}



/* for logo specifically */
.navbar img {
  height: auto; /* Ensures aspect ratio is maintained */
  max-height: 4vw; /* Adjust maximum height based on your design */
  width: auto;
}

@media (max-width: 991px) {
  .navbar img {
      max-height: 6vw; /* Increase the height limit for medium screens */
  }
}

@media (max-width: 576px) {
  .navbar img {
      max-height: 8vw; /* Increase the height limit for smaller screens */
  }
}

@media (max-width: 400px) {
  .navbar img {
      max-height: 10vw; /* Further increase for very small screens */
  }


}