
body{
    background-color:#c4a27c;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    background-color: #4f2c16;
    position: fixed;
    z-index: 30;
    width:100vw;
    height:5vw;
  }
  header{
    background-color: #4f2c16;
    position: fixed;
    top:0;
    z-index: 20;
    
  }
.nav-item{
    margin: 20px;
    font-size: 20px;
    color: solid,rgb(255, 246, 234);
  }
   nav ul li a {
    color:#fff5e9
   }
  
.home{
    background-color:#c4a27c;
  
}
.main-home{
    /* position: relative;
    top:-4rem; */
    
}
.home-card{
    /* display: flex; */
    padding:auto;
    padding-top: 16vw;
    padding-left: 4vw;
}
.btn{
    background-color: #3E362E;
    border-color: #3E362E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width:200px;
}
.btn:hover{
    background-color:  #c4a27c;
    border-color: #3E362E;
    color: #3E362E;
    font-weight: bolder;
}
.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #3E362E 8;
    --bs-btn-border-color: #3E362E;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3E362E;
    --bs-btn-hover-border-color: #3E362E;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3E362E;
    --bs-btn-active-border-color: #3E362E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3E362E;
    --bs-btn-disabled-border-color: #3E362E;
}

.home-text{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3E362E;
}
.home-heading{
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.book-card{
    background: #f5e1bc9e;
}
.multiple-cards:hover{
background-color: #f5e1bcd5;

}

.book-img{
    height:90vh;
}
.book-container {
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    margin: 1vw;
    
  }
  .multiple-cards{
    margin:0.5rem;
    margin-bottom: 2.1rem;

    
  }
  .footer {
    background-color: #3E362E;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-content nav ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-content nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-content nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-content nav ul li a:hover {
    text-decoration: underline;
  }